<div>
    <h2 id="page-heading">
        <span jhiTranslate="kanefwApp.hardwareFile.home.title">Hardware Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hardware-file" [routerLink]="['/hardware-file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="kanefwApp.hardwareFile.home.createLabel">
            Create new Hardware File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kanefwApp.hardwareFile.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="hardwareFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="kanefwApp.hardwareFile.title">Title</span></th>
            <th><span jhiTranslate="kanefwApp.hardwareFile.size">Size</span></th>
            <th><span jhiTranslate="kanefwApp.hardwareFile.mimeType">Mime Type</span></th>
            <th><span jhiTranslate="kanefwApp.hardwareFile.dateUploaded">Date Uploaded</span></th>
            <th><span jhiTranslate="kanefwApp.hardwareFile.version">Version</span></th>
            <th><span jhiTranslate="kanefwApp.hardwareFile.category">Category</span></th>
            <th><span jhiTranslate="kanefwApp.hardwareFile.content">Content</span></th>
            <th><span jhiTranslate="kanefwApp.hardwareFile.hardware">Hardware</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hardwareFile of hardwareFiles ;trackBy: trackId">
                <td><a [routerLink]="['/hardware-file', hardwareFile.id, 'view' ]">{{hardwareFile.id}}</a></td>
                <td>{{hardwareFile.title}}</td>
                <td>{{hardwareFile.size}}</td>
                <td>{{hardwareFile.mimeType}}</td>
                <td>{{hardwareFile.dateUploaded | date:'mediumDate'}}</td>
                <td>{{hardwareFile.version}}</td>
                <td jhiTranslate="{{'kanefwApp.FileCategory.' + hardwareFile.category}}">{{hardwareFile.category}}</td>
                <td>
                    <div *ngIf="hardwareFile.content">
                        <a [routerLink]="['../content', hardwareFile.content?.id, 'view' ]" >{{hardwareFile.content?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="hardwareFile.hardware">
                        <a [routerLink]="['../hardware', hardwareFile.hardware?.id, 'view' ]" >{{hardwareFile.hardware?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/hardware-file', hardwareFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hardware-file', hardwareFile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'hardware-file', { outlets: { popup: hardwareFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
